# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
bin/compileSHE
bin/compileSHECosts
bin/compileTempo
bin/compileTempoParallel
bin/planSchedule
bin/compileSequential
bin/testSeparable

domains/AllenAlgebra/problems/generator

*.sconsign.dblite
ins.txt
*.pyc
fd_copy/builds
